/* mainContent 컴포넌트는 다양한 children이 올거라서 메타 스타일링만 해주고 자세한건 따로 한다 */
.mainContent {
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: auto; */
  /* max-height: 100%; */
}

/* 모바일 디바이스에서 */
@media screen and (max-width: 768px) {
  .mainContent {
    width: 100%;
    height: 100%;
  }
}

/* pc 화면에서 */
@media screen and (min-width: 769px) {
  .mainContent {
    width: 73%;
  }
}
