.travelDiv {
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
}

.travelDescript {
  font-size: 22px;
  font-weight: 350;
  color: rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
}
